@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 400;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeueItalic.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 100;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-Thin.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 100;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-ThinCond.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 100;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-ThinCondObl.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 100;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-ThinExtObl.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 100;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-ThinItalic.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-LightExt.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-UltraLigCond.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-UltraLigExt.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 300;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-LightCondObl.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 300;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-LightExtObl.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 300;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-UltraLigCondObl.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-HeavyExt.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-Extended.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-Heavy.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-HeavyCond.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-ExtBlackCond.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-Condensed.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-MediumExt.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-Roman.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-HeavyExtObl.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-HeavyCondObl.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-ExtendedObl.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-ExtBlackCondObl.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-CondensedObl.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-HeavyItalic.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-MediumExtObl.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-BoldExt.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 700;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-BoldExtObl.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 700;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-BoldCondObl.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 900;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-BlackExt.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 900;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-Black.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 900;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-BlackExtObl.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 100;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeueUltraLight.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 100;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeueUltraLightItal.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-Light.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeueLight.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/helvetica-47-light-condensed-587ebd7b5a6f6.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 300;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeueLightItalic.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 300;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/helvetica-46-light-italic-587ebdb0ea724.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeueMedium.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-MediumCond.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-Medium.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 500;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-MediumCondObl.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeueBold.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeueCondensedBold.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/helvetica-75-bold-outline-587ebe00b76ba.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 700;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeueBoldItalic.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 900;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-BlackCond.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 900;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeueCondensedBlack.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 900;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaNeue-BlackCondObl.woff')
      format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 900;
  src: local('Helvetica Neue'),
    url('https://fonts.cdnfonts.com/s/14188/HelveticaBlkIt.woff') format('woff');
}

html {
  background-color: #273958;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
