/* font  import for work sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* tailwind css imports */
@font-face {
  font-family: 'Ms Sans';
  src: local('Ms Sans'), url(../global/fonts/ms_sans.woff) format('woff');
}
* > .font-work {
  font-family: 'Work Sans', sans-serif;
}
html {
  overflow-x: hidden;
  --scrollbarBGDark: #000000;
  --thumbBGDark: #2b2b2b;
  --scrollbarBGDLight: #ffffff;
  --thumbBGLight: #3f46f3;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  min-width: 100vw;
}

::selection {
  background: #3ff3b2;
}

body.dark ::selection {
  background: #3f46f3;
}

body::-webkit-scrollbar {
  width: 6px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBGLight) var(--scrollbarBGLight);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBGLight);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBGLight);
  border-radius: 6px;
  border: 3px solid var(--scrollbarLight);
}

body.dark::-webkit-scrollbar {
  width: 11px;
}
body.dark {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBGDark) var(--scrollbarBGDark);
}
body.dark::-webkit-scrollbar-track {
  background: var(--scrollbarBGDark);
}
body.dark::-webkit-scrollbar-thumb {
  background-color: var(--thumbBGDark);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBGDark);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
