/* font  import for work sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* tailwind css imports */
@font-face {
  font-family: 'Ms Sans';
  src: local('Ms Sans'), url(../global/fonts/ms_sans.woff) format('woff');
}
* > .font-work {
  font-family: 'Work Sans', sans-serif
}

body{
  overflow-x: hidden;
}

::selection {
  background: #3FF3B2;
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background: #3F46F3;
  }
  
}

@tailwind base;
@tailwind components;
@tailwind utilities;


